<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    
    <!-- Permisos necesarios para la aplicación -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    
    <!-- Configuración de la aplicación -->
    <application
        android:label="TaskWise"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/LaunchTheme"
        android:exported="true">
        
        <!-- Actividad principal -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait">
            
            <!-- Intent filter para la actividad principal -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            
            <!-- Meta-data para Flutter -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />
        </activity>
        
        <!-- Configuración para Flutter -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
        
        <!-- Configuración para notificaciones -->
        <receiver
            android:name=".TaskNotificationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
        
        <!-- Servicio para notificaciones -->
        <service
            android:name=".TaskNotificationService"
            android:exported="false" />
            
    </application>
    
    <!-- Configuración de versión -->
    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="33" />
    
</manifest> 